# Ignore files and directories that should not be versioned
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.idea/
.vscode/
.DS_Store
composer.lock
.phpunit.database.checkum
.env
.env.*
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore directories that should not be tracked
/public/build/
/vendor
/node_modules
/storage/app/*
/storage/debugbar
/storage/framework/*
/storage/logs
/bootstrap/cache
