# Ignore files and directories that should not be versioned
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.idea/
.vscode/
.DS_Store
composer.lock
.phpunit.database.checkum

# Ignore directories that should not be tracked
/vendor/*
/node_modules/*
/public/build/
