@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-lora {
  font-family: 'Lora', serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.transition-half {
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.cursor-trash {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🗑</text></svg>")
      16 0, auto;
}

.bg-transparent {
  background-color: transparent;
}

.font-medium {
  font-weight: 500;
}

.small-caps {
  font-variant: small-caps;
}

.single-article-product {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.single-article-product:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

svg.accordion-open {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

body a {
  color: #1d68a7;
}

.delete-product-btn {
  background: url('/images/trash.svg');
}

.single-product-description p,
.single-product-description span {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.single-product-icon:hover .single-product-icon-hint {
  display: block;
}

.single-product-icon-hint::before {
  content: '';
  position: absolute;
  left: calc(50% - 8px);
  bottom: 13px;
  width: 16px;
  height: 16px;
  background: #1d67a7;
  transform: rotate(45deg);
  z-index: -1;
}

.single-product-icon-hint {
  position: absolute;
  left: calc(50% - 63px);
  bottom: -28px;
  width: 120px;
  border-radius: 4px;
  background: #1d67a7;
  color: #fff;
  text-align: center;
  padding: 3px 0;
}

#products,
.page-not-found-section {
  min-height: calc(100vh - 65px);
}

#products {
  padding-bottom: 100px;
}

#dropzone-placeholder,
#fileDrop,
.category-featured-image,
#fileDrop .filepond--root {
	width: 250px;
  height: 250px;
}

.dropzone-placeholder,
#dropzone-placeholder,
#fileDrop .filepond--panel-root {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23D4D4D8FF' stroke-width='4' stroke-dasharray='5%2c 18' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

#fileDrop .filepond--drop-label {
  height: 100%;
}

.dropzone-placeholder,
#dropzone-placeholder,
#fileDrop .filepond--drop-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500!important;
  color: rgb(63, 63, 70)!important;
  font-size: 0.875rem!important;
  line-height: 1.25rem;
}

.filepond--credits {
  display: none;
}

.category-featured-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Price inputs */
input#price,
input#sale_price {
  position: relative;
}

.input-price-wrapper:before {
  content: 'kr.';
  position: absolute;
  left: 10px; top: 8px;
  font-size: 14px;
  color: #71717a;
  z-index: 1;
}


.hover-remove-image {
  position: relative;
}

.hover-remove-image::before {
  content: '';
  position: absolute;
  left: 8px; top: 8px;
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  background-color: #000;
  z-index: 0;
}

.hover-remove-image::after {
  content: '\00D7';
  position: absolute;
  font-size: 36px;
  line-height: 20px;
  color: #fff;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}

.hover-remove-image div {
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.hover-remove-image:hover div {
  opacity: 0.3;
}
.drift-zoom-pane {
  width: 500px ;
  height: 500px ;
  top: 55px ;
  border-radius: 8px ;
  left: 105%;
  z-index: 10;
}

.drift-zoom-pane.drift-open {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid rgba(244,244,245,1);
}

#hero-section,
.bg-hero-wave {
  min-height: 800px;
}

.settings-page a.bg-primary-light,
.settings-page a.bg-primary-light * {
  color: #fff;
  stroke: #fff;
}


.order-status-box.py-2.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

@media(max-width: 768px) {
  body {
    padding-top: 64px;
  }
  /* Global */
  .container {
    padding: 0 16px;
  }
  /* Header */
  #navigation {
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 2000!important;
  }
  #navigation .container {
    padding-left: 0;
  }
  #nav-search {
    top: 64px;
    position: absolute;
    width: calc(100% + 32px);
    margin: 0;
    left: -16px;
    background: #10243a;
  }
  #nav-search svg {
    color: #5a5f6b;
  }
  #nav-search #search {
    background: #10243a;
    height: 50px;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: none;
  }

  #nav-search #search::placeholder {
    color: #aaa;
  }

  #main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #10243A;
    z-index: 20000;
    transform: translateX(1000px);
    transition: all .3s ease-in-out;
  }

  #main-menu.active {
    transform: translateX(0);
  }

  #main-menu a {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    padding: 6px 24px;
  }

  #close-menu-btn {
    padding: 10px 20px;
  }

  /* Homepage */
  #hero-section h1 {
    font-size: 2rem;
  }
  #about-section .bg-hero-wave {
    min-height: 1000px;
  }

  /* Products Page */
  .floating-categories::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 50px;
      background: linear-gradient(90deg, rgba(255,255,255,0.3), white);
  }
  /* Single Product */
  .drift-zoom-pane {
    display: none;
  }

  /* Backend */
  body.admin-dashboard {
    padding-top: 0;
  }
  #admin-navigation {
    transform: translateX(-1000px);
    transition: all .3s ease-in-out;
  }
  #admin-navigation.active {
    transform: translateX(0);
  }
}

@media (min-width:640px) {
  .sm\:grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr))}.sm\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}.sm\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr))}.sm\:grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr))}.sm\:grid-cols-5{grid-template-columns:repeat(5,minmax(0,1fr))}.sm\:grid-cols-6{grid-template-columns:repeat(6,minmax(0,1fr))}.sm\:grid-cols-7{grid-template-columns:repeat(7,minmax(0,1fr))}.sm\:grid-cols-8{grid-template-columns:repeat(8,minmax(0,1fr))}.sm\:grid-cols-9{grid-template-columns:repeat(9,minmax(0,1fr))}.sm\:grid-cols-10{grid-template-columns:repeat(10,minmax(0,1fr))}.sm\:grid-cols-11{grid-template-columns:repeat(11,minmax(0,1fr))}.sm\:grid-cols-12{grid-template-columns:repeat(12,minmax(0,1fr))}.sm\:grid-cols-none{grid-template-columns:none}.sm\:grid-rows-1{grid-template-rows:repeat(1,minmax(0,1fr))}.sm\:grid-rows-2{grid-template-rows:repeat(2,minmax(0,1fr))}
}

.bg-150-p {
  background-size: 150%!important;
}

.main-sub-categories.max-h-96 {
  padding-top: 1.25rem!important;
}

.w-56 {
  width: 14rem;
}

.homepage-hero-image > div {
  background-color: rgba(33, 75, 118, .45)!important;
}

@media (max-width: 500px) {
  .homepage-hero-image > div {
    display: none;
  }
}

.categories-sidebar-opened {
  max-height: unset;
}

.main-sub-categories.categories-sidebar-opened {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 500px) {
  .homepage-images-section {
    transform: scale(.88) translateX(-25px);
  }
}
